<html>
    <head>
        <title>Welcome to {{greeting_msg}}</title>
    </head>
    <body>
        <h3>Configured using {{conf_mgr_tool}}</h3>
        <h3>Provisioned using {{provisioner_tool}}</h3>
        <h3>Hostname - {{ansible_hostname}}</h3>
        <h3>OS Distribution - {{ansible_distribution}}</h3>
        <h3>OS Familly - {{ansible_os_family}}</h3>
    </body>
</html>